---
// Components
import { Content } from "@/components/ui";
import { Image } from "astro:assets";

// Images
import logo from "@/assets/images/logos/summit-avenue-logo-full.png";

// Data
import { LINKS } from "@/data/links";
import type { Link } from "@/data/links";
import { EMAIL, PHONE } from "@/data/business";
---

<footer class="py-24 overflow-clip relative">
  <Content>
    <div class="flex flex-col sm:flex-row justify-between gap-8">
      <div class="flex flex-col gap-12">
        <Image src={logo} alt="" class="w-[300px]" />
        <div class="flex flex-col gap-2">
          <a
            class="text-h5 hover:underline hover:decoration-brand-orange-500 underline-offset-4"
            href={`mailto:${EMAIL}`}>{EMAIL}</a
          >
          <a
            class="self-start text-body-lg font-montserrat hover:underline hover:decoration-brand-orange-500 underline-offset-4"
            href={`tel:${PHONE}`}>{PHONE}</a
          >
        </div>
      </div>
      <nav>
        <ul class="flex flex-col items-start sm:items-end gap-2">
          {
            LINKS.map((link: Link) => {
              return (
                <li>
                  <a
                    class="text-h3 text-right text-dark-1 hover:underline decoration-accent"
                    href={link.href}
                  >
                    {link.display}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </nav>
    </div>
    <div class="mt-8">
      <p class="font-montserrat text-body-xs">
        © 2025 Summit Avenue Web Solutions, LLC
      </p>
    </div>
  </Content>
  <div
    class="bg-light-blue-100 absolute h-[2000px] w-[700px] -z-50 -bottom-100 -right-[556px] md:-right-[456px] lg:-right-64"
    style={{
      rotate: "25deg",
    }}
  >
  </div>
  <div
    class="bg-light-blue-200 absolute h-[2000px] w-[700px] -z-40 -bottom-100 -right-[620px] md:-right-[520px] lg:-right-80"
    style={{
      rotate: "25deg",
    }}
  >
  </div>
  <div
    class="bg-light-blue-300 absolute h-[2000px] w-[700px] -z-30 -bottom-100 -right-[684px] md:-right-[584px] lg:-right-96"
    style={{
      rotate: "25deg",
    }}
  >
  </div>
</footer>
